# local configuration files
/Users/jicapone/GitHub/RATIR-GSFC/code/reduction/ratauto/pipeautoproc.par

# sandbox directory
sandbox

# Compiled source #
###################

*.pyc

code/LMI_conversion/LMI_2_RATIR.py

code/photometry/dependencies/LMI_get_SEDs.py

code/reduction/ratauto/pipeautoproc.par

code/sbc/iqlmi.py

code/reduction/ratauto/pipeautoproc.par

code/sbc/iqlmi.py
